* {
	box-sizing: border-box;
}


.gallery {
	background-color: #ff80c0;
	display: flex;
	/* 	flex-direction: column;
 */
	flex-wrap: wrap;
	/*justify-content: space-between;*/
}

.gallery__item {
	background-color: #408080;
	/*height: 150px; l'item prend la taille de son enfant donc la taille de l'image*/
	width: calc(100% / 3 - 40px / 3);
	border: 1px solid black;
	margin-right: 20px;
	margin-bottom: 20px;
}

.gallery__item:nth-child(3n){
	margin-right:  0px;
}

.gallery__item__image {
	display: block;
	width: 80%;
}

.gallery__item__title {
	text-align: center;
}